html, body{
    margin:0;
    padding:0 ;
    background-color: #87e8ef;    ;
    background-image:url(clouds.jpeg) ;
    object-fit: contain;
    width:100%;
    position: relative;
    background-size:cover;

}

header{
    display:flex;
    align-items: center;
    padding: .7rem 3.75rem;
    background-color: burlywood;
    margin: 0;

}
header .logo-small{
    display: none;
    flex-grow: 1;
}
a{
    text-decoration: none;
}
nav li{
    display: inline;
    padding-right: 0rem;
    border: 2px solid whitesmoke;

}
header .logo-small{
    display:block;

   
}


nav{
    margin: 0;
    padding:20px 0;
    top:10px;

}
nav li{
    color:blueviolet;
    display:inline-block ;
    width:80px;
    font-size: 20px;
    border-color:3px solid rgb(36, 252, 252);
    text-align: center;


}
h1{
    text-align:center;
    padding-top:50px;
    padding-bottom:10px ;
    background-image: url("");
    font-size:120px;
    font-style: italic;
    border-radius: 75%;
    font-family: 'Bebas Neue', cursive;
    margin: 0;

    
}


*{
    margin: 0%;
}
.author{
    text-align: center;
    font-family: 'Bebas Neue', Courier, monospace;
}